@import "tailwindcss";
@import "swiper/css";

@theme {
  /* фиолетовые оттенки */
  --color-purple-heading: #35339b;
  --color-purple-main: #5755c4;
  --color-purple-main-disabled: #8389be;
  --color-purple-progress-content: #a1a0ff;
  --color-purple-background-gender: #d8d8ff;
  --color-purple-background-wrap: #e1e1f3;
  --color-purple-progress-wrap: #a0a0a0;
  --color-purple-sub-button: #6e6ce1;

  /* темные оттенки */
  --color-dark-primary: #646464;
  --color-dark-light: #ced2d9;
  --color-dark-sub-light: #737373;

  /* черные оттенки */
  --color-black-heading: #1a1a1a;

  /* зеленые оттенки */
  --color-green-correct: #05a300;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100vh;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
	color: #1a1a1a;
	overscroll-behavior: none;
  /* overflow: hidden; */
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}
